body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/** navbar **/
#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

#navbar ul {
    float: right;
    display: flex;
    align-items: center;
}

#navbar ul li {
    padding: 1em;
}

.nav-link  {
    color: #000d;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

#apps {
    opacity: 0.6;
    border-radius: 50%;
}

#profile-img {
    border-radius: 50%;
}

.nav-link-hover:hover{
    background: #0002;
    box-shadow: 0 0 0em 4px #0002;
}


/** main **/
main {
    margin-top: 10em;
}

/** main section **/
.flex-col {
    display: flex;
    flex-direction: column;
}

#main-section {
    align-items: center;
}

/* form */
.form-item {
    position: relative;
    margin: 3em;
    /* border: 2px solid; */
}

#search-input {
    width: 90vw;
    max-width: 500px;
    height: 3em;
    border-radius: 25px;
    border: 1px solid #0002;
}

#search-input:hover {
    border: 0 solid;
    box-shadow: 0 0 1em #0003;
}

#search-logo {
    position: absolute;
    top: 10px;
    left: 10px; 
    opacity: 0.6;
}

#mic-logo {
    position: absolute;
    top: 10px;
    right: 10px; 
    opacity: 0.6;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    background-color: #f8f8f8;
    opacity: 0.8;
    border: none;
    border-radius: 4px;

    height: 2.4em;
    width: 10em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#buttons button:hover {
    opacity: 0.9;
    border: 1px solid #0003;
}


/** footer **/
footer {
    position: absolute;
    height: 12em;
    width: 100vw;
    bottom: 0;
    background-color: #f8f8f8;
}

hr {
    opacity: 0.5;
    margin: 1em 0;
}

.footer-txt {
    padding: 1em;
    color: #000a;
    text-decoration: none;
}

footer #footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    /*grid-template-rows: repeat(auto-fill);*/
}

footer a:hover {
    text-decoration: underline;
}